/* style.css */

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --grid: 16;
}

html {
    box-sizing: border-box;
}

body {
    /* width: 80%;
    margin: 2em auto;
    font: 0.9em/1.2 Arial, Helvetica, sans-serif; */
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, min);
    grid-template-rows: repeat(auto, minmax(0, auto-fill));
}

#container {
    display: grid;

    grid-template-columns: repeat(var(--grid, 16), minmax(0, 1fr));
    grid-template-rows: repeat(var(--grid, 16), minmax(0, 1fr));

    gap: 0;

    border: 2px dashed black;
    /* overflow: hidden; */

    height: 480px;
    width: 480px;
}

#container > div {
    /* background-color: #79ffe1; */
    border: 0.5px solid #0c4047;
}

.gradient {
    /* background-color: #79ffe1; */
    border: 0.5px solid #0c4047;
    --gradient: 0;
    background-color: rgba(0, 0, 0, var(--gradient, 1));
}
