/* style.css */

:root {
    --grid: 16;
}

html {
    font-family: 'Roboto';
}

#container {
    display: grid;

    grid-template-columns: repeat(var(--grid, 16), minmax(0, 1fr));
    grid-template-rows: repeat(var(--grid, 16), minmax(0, 1fr));

    gap: 0;
    aspect-ratio: 1 / 1;
}

#set {
    width: 6rem;
}

#container > div {
    border: 0.5px solid black;
}

#navbar-item,
#header {
    /* font-size: 20px; */
    font-family: 'Pacifico', cursive;
}

.gradient {
    border: 0.5px solid black;
    --gradient: 0;
    background-color: rgba(0, 0, 0, var(--gradient, 1));
}
